# Core dependencies
python-dotenv>=1.0.0
openai>=2.0.0
qdrant-client>=1.15.0
requests>=2.32.0
beautifulsoup4>=4.12.0
PyPDF2>=3.0.0
streamlit==1.50.0

# Optional: Development tools (for Jupyter notebooks)
ipykernel>=6.30.0
ipython>=9.0.0

# for db management
psycopg2-binary>=2.9.11

## for data processing and plotting
plotly==6.3.1
pandas==2.3.3
numpy==2.3.3
tqdm>=4.67.0
